services:
  app:
    container_name: logibots_frontend

    build:
      context: .
      dockerfile: Dockerfile.dev

    ports:
      - "5173:5173"

    volumes:
      - .:/app
      - /app/node_modules

    networks:
      - logibots

    env_file:
      - .env

networks:
  logibots:
    external: true
