services:
  frontend:
    container_name: logibot_frontend
    image: ghcr.io/ramoncbarbosa/logibot_frontend:latest
    ports:
      - "3001:80"
    restart: unless-stopped
    networks:
      - logibot-network

networks:
  logibot-network:
    external: true
