version: "3.8"

services:
  frontend:
    container_name: LogiBot_Frontend
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    restart: always
