name: CI/CD Pipeline Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy Production
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            cd ../logibot/LogiBot_Frontend

            git pull origin main

            cat <<EOF > .env
            VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
            VITE_API_KEY=${{ secrets.VITE_API_KEY }}
            VITE_RECAPTCHA_SITE_KEY=${{ secrets.VITE_RECAPTCHA_SITE_KEY }}
            EOF

            npm install
            npm run build
